@charset "UTF-8";
img {
    width: 400px;
    height: 300px;
  }
h1 {
    color:#480B02;
}
h2 {
    color:#7FBBD2;
}
p {
    color:#7FBBD2;
}
body {
    background-color:#C2E3E8;
    text-align: center;
}